:root {
    --color-primario: #0000F3;
    --color-texto-lateral: #5958EA; 
    --color-lateral: #E2DEDC;
    --color-fondo: #F3F5FC;
    /*--espaciado: 10px;*/ 
}

body {
    font-family: 'Nunito', sans-serif;
    color: var(--color-primario);
    background-color: var(--color-fondo);
    /*min-height: 100vh;*/

}

h1 { 
    font-family: 'Clash Display', sans-serif;
    font-weight: 600;
    font-size: 52px;
    display: inline-block;

}

main {
    margin: 0;
    display: flex;
    width: 100%;
    height: auto;
}

footer {
    background-color: var(--color-primario);
    color: var(--color-fondo);
    height: 80px;
    text-align: center;
    line-height: 80px;
}

.titulo {
    margin: 0;
    height: 150px;
    padding: 10px;
}

.titulo img {
    width: 120px;
    height: auto;
}

.contenedor-izq {
    margin-right: 10px;
    margin-left: 15px; 
    margin-bottom: 40px;
    width:67%;
    height: auto;
    box-sizing: border-box;
    min-width: 400px;
}

.contenedor-der {
    /*display: flex;
    flex-direction: column;*/
    width: 33%;
    height: auto;
    box-sizing: border-box;
    background-color: var(--color-lateral);
    text-align: center;
}

.textarea-encriptar,.textarea-desencriptar {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    resize: none;
    border: none;    
}

.textarea-encriptar {
    display: block;
    margin: 5% 10% 5% 15%;
    background-color: var(--color-fondo);
    border: none;

}

.textarea-encriptar:focus, .textarea-desencriptar:focus {
    border: none;
    outline: none;
    color: var(--color-primario);
    font-family: 'Nunito', sans-serif;
}
  
.textarea-desencriptar {
    background-color: var(--color-lateral);
    margin: 0px auto;
    padding: 0 50px;
    color: var(--color-texto-lateral);
    display: none;

}


.allura-challenge {
    font-family: 'Clash Display', sans-serif;
    font-size: 18px;
    color: #495057;
    margin: 40px 20px;

}

.button-linea, .button-solido {
    border-radius: 20px;
    width: 200px;
    height: 50px;
    font-size: 16px;
}

.button-linea {
    background-color: transparent;
    border: 1px solid var(--color-primario);
    color: var(--color-primario);
    margin-top: 20px;
}

.button-solido {
    background-color: var(--color-primario);
    border: none;
    color: white;
    margin-right: 10px; 
}

.contenedor-botones, .advertencia {
    margin-left: 200px;
}

.advertencia {
    font-size: 12px;
    color: #495057;
}

.advertencia svg{
    padding-right: 5px;
    vertical-align: middle;
}

.desencriptador img {
    margin: 0 auto;
    margin-top: 25%;
}

.span-1 {
    margin-top: 20px;
    font-size: 24px;

}

.span-2 {
    font-size: 14px;
    color: var(--color-texto-lateral);
    margin-top: 20px

}

footer svg {
    vertical-align: middle;
    margin-right: 5px;
}

#boton-copiar {
    display: none;
    margin: 40px auto;

}

/* Media query for iPads and smaller screens */
@media screen and (max-width: 1024px) {
    .contenedor-izq, .contenedor-der {
      width: 100%; /* Set width to 100% for smaller screens */
    }
  
    .contenedor-botones, .advertencia {
      margin-left: 0; /* Reset margin for smaller screens */
    }
  }